.place__like-button {
  background: url(../../../images/Like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-bottom: 3px;
  flex-shrink: 0;
  transition: opacity 0.3s ease-in-out;
}

.place__like-button:hover {
  opacity: 0.5;
}

.place__like-button:active {
  background: url(../../../images/Like-active.svg);
}
