@import url(./vendor/normalize.css);
@import url(./vendor/font.css);
@import url(./blocks/root/root.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);

@import url(./blocks/elements/elements.css);
@import url(./blocks/place/place.css);
@import url(./blocks/place/__image/place__image.css);
@import url(./blocks/place/__info/place__info.css);
@import url(./blocks/place/__like-button/place__like-button.css);
@import url(./blocks/place/__like-button/_active/place__like-button_active.css);
@import url(./blocks/place/__name/place__name.css);
@import url(./blocks/place/__image-container/place__image-container.css);
@import url(./blocks/place/__delete-button/place__delete-button.css);
@import url(./blocks/place/__like-container/place__like-container.css);
@import url(./blocks/place/__like-count/place__like-count.css);
@import url(./blocks/place/__delete-button/_hidden/place__delete-button_hidden.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__input/_name/popup__input_name.css);
@import url(./blocks/popup/__input/_place/popup__input_place.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__submit-button/popup__submit-button.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/_isOpen/popup_isOpen.css);
@import url(./blocks/popup/__place-name/popup__place-name.css);
@import url(./blocks/popup/__place-container/popup__place-container.css);
@import url(./blocks/popup/__place-image/popup__place-image.css);

@import url(./blocks/popup/__submit-button/_inactive/popup__submit-button_inactive.css);
@import url(./blocks/popup/__input/_error/popup__input_error.css);
@import url(./blocks/popup/__label/popup__label.css);
@import url(./blocks/popup/__error-message/popup__error-message.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__image/popup_image.css);

@import url(./blocks/popup/__container/_delete/popup__container_delete.css);
@import url(./blocks/popup/__submit-button/_delete/popup__submit-button_delete.css);

@import url(./blocks/popup/__input/_avatar/popup__input_avatar.css);
@import url(./blocks/popup/__container/_avatar/popup__container_avatar.css);
@import url(./blocks/popup/__submit-button/_avatar/popup__submit-button_avatar.css);
