.header {
  max-width: 880px;
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 797px) {
  .header {
    padding-top: 28px;
  }
}
